.login-pf .container {
  background-color: $color-thermostat-blue;
}

.breadcrumb {
  margin-top: -20px;
}

.apf-body {
  background: $color-pf-black-150;
  .navbar-pf-vertical .navbar-brand .navbar-brand-icon {
    height: 20px;
    margin-top: 10px;
  }
}

// alert inline notifications margin manipulation
.alert-danger {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

// 404 information slate margin manipulation
.blank-slate-pf {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $color-white;
}

.fa-frown-o {
  margin-bottom: 20px;
}

.table-fixed {
  table-layout: fixed;
}

.break-word-wrap {
  overflow-wrap: break-word;
}

.ellipsis-word-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
