.login-pf .container {
  background-color: $color-thermostat-blue;
}

.breadcrumb {
  margin-top: -20px;
}

.apf-body {
  background: $color-pf-black-150;
  .navbar-pf-vertical .navbar-brand .navbar-brand-icon {
    height: 20px;
    margin-top: 10px;
  }
}