<div class="container-fluid container-cards-pf">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li><a ui-sref="landing">Thermostat</a></li>
    <li><a ui-sref="jvmList">JVM List</a></li>
  </ol>

  <div ng-show="ctrl.showErr" class="alert alert-danger alert-dismissable">
    <span class="pficon pficon-error-circle-o"></span>
    <strong>Unable to retrieve data.</strong> Error while retrieving Thermostat JVM Listing.
  </div>

  <div ng-show="!ctrl.showErr" >
    <div class="text-right">
      <label for="aliveOnlySwitch" class="label label-default">Alive Only</label>
      <input class="bootstrap-switch pull-right" id="aliveOnlyState" name="aliveOnlySwitch" data-size="mini" type="checkbox" checked/>
      <button type="button" class="btn btn-default" id="refreshButton" ng-click="ctrl.loadData()"><span class="fa fa-refresh"></span></button>
    </div>

    <uib-accordion close-others="true">

      <uib-accordion-group class="cards-pf" ng-repeat="system in ctrl.systems" id="{{system.systemId}}" is-open="ctrl.systemsOpen[system.systemId]">

        <uib-accordion-heading><a ui-sref="{'#': system.systemId}">{{system.systemId}}</a></uib-accordion-heading>
        <div class="container-fluid container-cards-pf">
          <div class="row row-cards-pf">

            <div class="col-xs-12 col-md-4 col-lg-3">
              <div ui-sref="systemInfo({ systemId: system.systemId })" class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                <div class="card-pf-top-element">
                  <span class="pficon pficon-server card-pf-icon-circle"></span>
                </div>
                <div class="card-pf-body">
                  <h2 class="card-pf-title text-center ellipsis-word-wrap">
                    {{system.systemId}}
                  </h2>
                  <p class="card-pf-info text-center">Monitored System</p>
                </div>
              </div>
            </div>

            <div ng-repeat="jvm in system.jvms">

              <div class="col-xs-12 col-md-4 col-lg-3">
                <div ui-sref="jvmInfo({ systemId: system.systemId, jvmId: jvm.jvmId })" class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                  <div class="card-pf-top-element">
                    <span class="pficon pficon-virtual-machine card-pf-icon-circle"></span>
                  </div>
                  <div class="card-pf-body">
                    <h2 class="card-pf-title text-center ellipsis-word-wrap">
                      {{ctrl.extractClassName(jvm.mainClass)}}
                    </h2>
                    <div class="card-pf-info text-center">
                      <strong>Created On</strong> {{jvm.startTime | timeStampToDate}}
                      <span class="pull-right pficon" ng-class="isAlive(jvm) ? 'pficon-ok' : 'pficon-error-circle-o'"></span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- /row -->
        </div>
      </uib-accordion-group>

    </uib-accordion>
  </div>

</div><!-- /container -->
