<div class="container-fluid container-cards-pf">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li><a ui-sref="landing">Thermostat</a></li>
    <li><a ui-sref="jvmList({ '#': ctrl.systemId })">JVM List</a></li>
    <li><a ui-sref="systemInfo({ systemId: ctrl.systemId })">{{ctrl.systemId}}</a></li>
    <li><a ui-sref="jvmInfo({ systemId: ctrl.systemId, jvmId: ctrl.jvmId })">{{ctrl.jvmInfo.mainClass | extractClass}}</a></li>
  </ol>

  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <table class="table table-fixed table-striped table-bordered">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody class="break-word-wrap">
          <tr>
            <td>Username</td>
            <td>{{ctrl.jvmInfo.username}}</td>
          </tr>
          <tr>
            <td>UID</td>
            <td>{{ctrl.jvmInfo.uid | metricToBigInt | bigIntToString }}</td>
          </tr>
          <tr>
            <td>JVM ID</td>
            <td>{{ctrl.jvmInfo.jvmId}}</td>
          </tr>
          <tr>
            <td>Main Class</td>
            <td>{{ctrl.jvmInfo.mainClass}}</td>
          </tr>
          <tr>
            <td>Start Time</td>
            <td>{{ctrl.jvmInfo.startTime | timeStampToDate}}</td>
          </tr>
          <tr ng-show="parseInt(ctrl.jvmInfo.endTime.$numberLong) > 0">
            <td>Stop Time</td>
            <td>{{ctrl.jvmInfo.stopTime | timeStampToDate}}</td>
          </tr>
          <tr ng-show="ctrl.jvmInfo.lastUpdated">
            <td>Last Updated</td>
            <td>{{ctrl.jvmInfo.lastUpdated | timeStampToDate}}</td>
          </tr>
          <tr>
            <td>JVM PID</td>
            <td>{{ctrl.jvmInfo.jvmPid}}</td>
          </tr>
          <tr>
            <td>Java Version</td>
            <td>{{ctrl.jvmInfo.javaVersion}}</td>
          </tr>
          <tr>
            <td>Java Home</td>
            <td>{{ctrl.jvmInfo.javaHome}}</td>
          </tr>
          <tr>
            <td>Java Command Line</td>
            <td>{{ctrl.jvmInfo.javaCommandLine}}</td>
          </tr>
          <tr>
            <td>JVM Name</td>
            <td>{{ctrl.jvmInfo.jvmName}}</td>
          </tr>
          <tr>
            <td>JVM Info</td>
            <td>{{ctrl.jvmInfo.jvmInfo}}</td>
          </tr>
          <tr>
            <td>JVM Version</td>
            <td>{{ctrl.jvmInfo.jvmVersion}}</td>
          </tr>
          <tr>
            <td>JVM Arguments</td>
            <td>{{ctrl.jvmInfo.jvmArguments}}</td>
          </tr>
          <tr>
            <td>Classpath</td>
            <td>{{ctrl.jvmInfo.classpath}}</td>
          </tr>
          <tr>
            <td>Environment Variables</td>
            <td>
              <span ng-repeat="env in ctrl.jvmInfo.environment">
                {{env.key}}="{{env.value}}"
                <br/>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-3">
      <label for="metricCombo" class="label label-primary">Metric</label>
      <select name="metricCombo" class="combobox form-control" ng-model="comboValue">
        <option value="" style="display:none" selected="selected" disabled>Select a Metric</option>
        <option value="">None</option>
        <option value="jvmMemory">Memory Usage</option>
        <option value="jvmGc">Garbage Collection</option>
      </select>
    </div>

  </div>

  <div class="row">
    <ui-view></ui-view>
  </div>

</div><!-- /container -->
