<div class="container-fluid container-cards-pf">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li><a ui-sref="landing">Thermostat</a></li>
  </ol>

  <div class="blank-slate-pf" style="">
    <img src="../../../assets/images/landing-image.png" alt="Landing Image"/>

    <h1>Welcome</h1>
    <h3>Thermostat.next() web-client</h3>
  </div>
</div>

<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <div class="col-md-4">
      <div class="card-pf card-pf-utilization">
        <div class="card-pf-heading">
          <h2 class="card-pf-title">
            Some Metric
          </h2>
        </div>
        <div class="card-pf-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h3 class="card-pf-subtitle">
                <a ui-sref="jvmList">JVM Listing</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
