<div class="container-fluid">

  <div class="row" style="margin-top:2vh">
    <div class="col-xs-12 col-md-3">
      <label for="refreshCombo" class="label label-info">Refresh Rate</label>
      <select name="refreshCombo" class="combobox form-control" ng-model="refreshRate">
        <option value="-1">Disabled</option>
        <option value="1000" selected>1 Second (Default)</option>
        <option value="2000" selected>2 Seconds</option>
        <option value="5000">5 Seconds</option>
        <option value="10000">10 Seconds</option>
        <option value="30000">30 Seconds</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-3">
      <label for="dataAgeCombo" class="label label-info">Max Data Age</label>
      <select name="dataAgeCombo" class="combobox form-control" ng-model="dataAgeLimit">
        <option value="10000" selected>10 Seconds</option>
        <option value="30000" selected>30 Seconds (Default)</option>
        <option value="60000">1 Minute</option>
        <option value="300000">5 Minutes</option>
        <option value="900000">15 Minutes</option>
      </select>
    </div>
  </div>

  <div class="row row-cards-pf">
    <div class="container-fluid container-cards-pf">

      <div class="col">
        <div class="card-pf card-pf-view">
          <div class="card-pf-heading">
            <label class="card-pf-title">Garbage Collection Timeseries</label>
          </div>
          <div ng-repeat="collector in ctrl.collectors">
            <div class="card-pf-body text-center">
              <div pf-line-chart id="chart-{{collector}}" config="ctrl.chartConfigs[collector]"
                                                          chart-data="ctrl.chartData[collector]"
                                                          show-x-axis="true"
                                                          show-y-axis="true"
                                                          ></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
